/* #region RESETS */
html {
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

button,
input,
select,
textarea {
    font: inherit;
}

img,
video {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: sans-serif;
    line-height: 1.5;
}

#root {
    margin: 0 0.5rem;
}

/* #endregion RESETS */

/* #region Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 1.5rem;
    text-align: center;
}

/* #endregion Header */

/* #region Showing */
.movie-list {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
}

.now-movie {
    flex-shrink: 0;
    width: 120px;
}

.now-movie h3 {
    font-size: 1rem;
}

.star-img {
    width: 14px;
    height: 14px;
}

.movie-rating {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    font-size: 0.8rem;
    color: grey;
}

/* #endregion Showing */

/* #region Popular */
.popular-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.popular-movie {
    display: flex;
    gap: 1rem;
}

.popular-poster {
    width: 100px;
    height: 140px;
    object-fit: cover;
    border-radius: 0.5rem;
    flex-shrink: 0;
}

.popular-info {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: auto 0;
}

.popular-info h3 {
    font-size: 1rem;
    margin: 0.2rem 0;
}

.genres {
    display: flex;
    gap: 0.3rem;
    flex-wrap: wrap;
    margin: 0.2rem 0;
}

.genre {
    padding: 0.3rem 0.7rem;
    border-radius: 1rem;
    background-color: #e4e8ff;
    font-size: 0.6rem;
    text-transform: uppercase;
    white-space: nowrap;
}

.runtime {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    margin: 0.2rem 0;
}

.time-img {
    width: 12px;
    height: 12px;
}

.time {
    font-size: 0.8rem;
}

/* #endregion Popular */

/* #region Footer */
/* #endregion Footer */